$main-color: #dde1e3;
$secondary-color: #082c17;

body {
  background-color: $main-color;
  font-family: Brush Script, cursive;

  h1 {
    color: $secondary-color;
    text-align: center;
  }
  p {
    font-size: 1.2rem;
    color: #333;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: auto;
}

.user-card__photo {
  width: 100px !important;

  height: 100px !important;
  object-fit: cover !important;
  overflow: visible !important;
  overflow-x: visible !important;
  overflow-y: visible !important;
}

span {
  margin-top: 20px;
  display: block;
}

button {
  border: solid rgba(19, 18, 18, 0.7);
  background-image: linear-gradient(60deg, #b286ef 10%, #981fbf 50%, #7e20fd 100%);
  box-shadow: 0 2px 25px 0 rgba(81, 17, 103, 0.35);
  border-radius: 2%;
  border: none;
  margin-top: 20px;
  height: 35%;
  width: 20%;
  font-family: Brush Script, cursive;
  color: white;
}
li {
  list-style-type: none;
}
